.bar{
    display: flex;
    width: 100%;
    overflow-x: hidden;
}
#rightbar{
    overflow-x: hidden;
}
#upbar{
    height: 10vh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    flex-direction: column;
    
}