<app-navbar></app-navbar>
<div class="bar">
    <app-leftbar></app-leftbar>
    <div style="width: 80vw;">


        <div style="height: 10vh;width:100%" id="upbar">
            <h2 style="text-align: center;">Change password</h2>
        </div>
        <br>
        <br>
        <div class="container">

            <form class="regform">
                <table>
                    <tr>
                        <td>
                            Previous password:
                        </td>
                        <td>
                            <input type="password" placeholder="Name" name="">
                        </td>
                    </tr>
                    <br>
                    <tr>
                        <td>
                            New password:
                        </td>
                        <td>
                            <input type="password" placeholder="Name" name="">
                        </td>
                    </tr>
                    <br>
                    <tr>
                        <td>
                            Confirm password:
                        </td>
                        <td>
                            <input type="password" placeholder="Name" name="">
                        </td>
                    </tr>
                    <br>

                </table>
                <div class="d-flex justify-content-between p-5 mt-1">
                    <button type="submit" class="btn btn-primary">Change password</button>
                    <button type="" class="btn btn-danger">clear</button>
                </div>
            </form>
        </div>
    </div>


</div>