#leftbar{
    height: 100vh;
    width: 20vw;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px; 
    
}
.Itemclk{
    border-bottom: 2px solid rgb(192, 192, 218);
    cursor: pointer;
}